@media only screen and (max-width: 767px) {
	
	body {
		min-width:320px;
		word-wrap:break-word;
	}
	
	.one-half,
	.one-third,
	.two-third,
	.one-fourth,
	.three-fourth,
	.one-fifth,
	.two-fifth,
	.three-fifth,
	.four-fifth,
	.one-sixth,
	.five-sixth {
	  float: none;
	  margin:1em 0;
	  width:auto;
	}

	.om-mobile-hidden {
		display:none;
	}
		
	/**
	 * Header
	 */
	 
	.header-tagline,
	.header-socials,
	.header-wpml-selector {
		float:none;
		margin:1em 0;
		text-align:center;		
	}
	
	
	.header-wpml-selector #lang_sel,
	.header-wpml-selector #lang_sel_click {
		display:inline-block;
		text-align:left;
	}
	.header-wpml-selector #lang_sel_list {
		display:inline-block;
	}
	
	.header-socials [class^="social-icon"],
	.header-socials [class*=" social-icon"] {
		margin-left:0.2em;
		margin-right:0.2em;
	}
	
	.logo-menu-wrapper {
		display:block;
	}
	
	.logo-menu-wrapper .logo-box,
	.logo-box {
		display:block;
		text-align:center;
		margin:0 auto;
		padding-right:0;
		width:auto !important;
	}
	
	.logo-image img {
		margin:0 auto;
	}
	
  .header-logo .logo-text a,
  .header-logo-menu-wrapper:not(.menu-stuck) .logo-text a {
    color:inherit !important;
  }

	.header-secondary-menu,
	.logo-menu-wrapper .menu-box,
	.header-menu,
	.header-mid.logo-type-none {
		display:none;
	}

	.custom-header-bg-transparent header	{
		position:static;
	}
	
	.custom-header-bg-transparent .header-top,
	.custom-header-bg-transparent .header-logo-menu,
	.custom-header-bg-transparent .header-logo,
	.custom-header-bg-transparent .header-menu {
		border-bottom-width:1px;
	}
	
	.custom-header-bg-transparent .logo-set-default {
		display:none;
	}
	
	.custom-header-bg-transparent .logo-set-fixed-menu {
		display:block;
	}
	
	.page-title-inner {
		padding-top:0 !important;
	}
	
	.page-title-wrapper.title-margins-medium .container-inner,
	.page-title-wrapper.title-margins-large .container-inner,
	.page-title-wrapper.title-margins-xlarge .container-inner,
	.page-title-wrapper.title-margins-xxlarge .container-inner {
		padding:20px 0 !important;
	}
	
	.page-title-wrapper.title-size-large h1,
	.page-title-wrapper.title-size-xlarge h1,
	.page-title-wrapper.title-size-xxlarge h1 {
		font-size:250%;
	}
	
	/**
	 * Header Menu
	 */
	 
	.header-mobile-menu,
	.mobile-header-menu-wrapper {
		display:block;
	}
	
	/**
	 * Footer
	 */
	 
	.with-sub-footer-text .sub-footer-menu-social,
	.with-sub-footer-text .sub-footer-text {
		float:none;
		text-align:center;
		margin:1em 0;
		width:auto;
	}
	
	.footer-social-icons [class^="social-icon"], .footer-social-icons [class*=" social-icon"] {
		margin:0 0.25em 0.5em;
	}
	
	.uncovering-footer footer {
		position:static;
	}
	
	.uncovering-footer .hc-wrapper {
		margin-bottom:0 !important;
	}
	
	/**
	 * Sidebar
	 */
	 
	.sidebar-display .content-column-sidebar,
	.sidebar-display .content-column-content,
	.sidebar-display.flip-sidebar .content-column-sidebar,
	.sidebar-display.flip-sidebar .content-column-content {
		float:none;
		width:auto;
	}
	
	.sidebar-display .content-column-sidebar {
		margin-top:2em;
	}
	
	/**
	 * Comments
	 */
	
	#commentform .one-third {
		width:auto;
		float:none;
		margin-right:0;
	}
	
	/**
	 * Blog
	 */
	 

	.blogroll.layout-small .post-media,
	.blogroll.layout-medium .post-media {
		margin:1em auto;
		float:none;
		width:auto;
	}
	
	.blogroll.layout-small .post-media {
		max-width:348px;
	}
	
	.blogroll.layout-medium .post-media {
		max-width:557px;
	}
	
	/**
	 * Gallery
	 */
	 
	.custom-gallery .item-caption,
	.gallery-sliced .item-caption,
	.gallery-masonry .item-caption,
	.gallery-grid .item-caption {
		font-size:85%;
		padding:0.1em 0.3em;
		line-height:1.3;
	}
	
	/**
	 * Gallery Masonry/Grid
	 */
	 

	
	/**
	 * Sticky menu
	 */

	.menu-sticky-node.menu-stuck,
	.admin-bar .menu-sticky-node.menu-stuck  {
		position:relative;
		z-index:auto;
		top:0;
	}
	
	.menu-position-top_fixed .menu-sticky-node .container-wrapper:before {
		display:none;
	}
	
	/**
	 * WPB
	 */
	 

	.vc_call_to_action.vc_cta_btn_pos_left .vc_cta-inner,
	.vc_call_to_action.vc_cta_btn_pos_right .vc_cta-inner,
	.vc_call_to_action.vc_cta_btn_pos_left .vc_cta-text,
	.vc_call_to_action.vc_cta_btn_pos_right .vc_cta-text,
	.vc_call_to_action.vc_cta_btn_pos_left .vc_cta-button,
	.vc_call_to_action.vc_cta_btn_pos_right .vc_cta-button {
		display:block;
		padding:0;
	}
	
	.vc_call_to_action.vc_cta_btn_pos_left .vc_cta-inner,
	.vc_call_to_action.vc_cta_btn_pos_right .vc_cta-inner {
		padding:1.5em;
		width:auto;
		text-align:center;
	}
	
	.vc_om-pricing-table-inner,
	.vc_om-ptc {
		display:block;
	}
	
	.vc_om-ptc.vc_om-ptc-featured .vc_om-ptc-inner {
		box-shadow:none !important;
		margin:-1px;
		padding-top:1px;
		padding-bottom:1px;
	}
	
	.vc_om-click-box.om-cb-size-md .om-cb-inner {
		font-size:140%;
		padding:1.5em;
	}
	
	.vc_om-click-box.om-cb-size-lg .om-cb-inner {
		font-size:160%;
		padding:1.5em;
	}
	
	.vc_om-click-box.om-cb-size-xlg .om-cb-inner {
		font-size:180%;
		padding:1.5em;
	}
	
	.wpb_column.vc_column_delimiter-vline:after,
	.wpb_column.vc_column_delimiter-hline:after,
	.wpb_column.vc_column_delimiter-dot:after,
	.wpb_column.vc_column_delimiter-rarr:after {
		display:none;
	}

	blockquote, .blockquote {
		font-size:120%;
	}
	
	.om_theme .wpb_column > .wpb_wrapper > *:last-child {
		margin-bottom:2em;
	}
}


/**
 * Grid blog
 */
 
@media only screen and (max-width: 780px) {
	.blogroll.layout-grid-3 section {
		margin-right:-8.65%;
	}
	
	.blogroll.layout-grid-3 .blogroll-item {
		float:left;
		width:44%;
		margin:0 4% 30px 0;
	}
}

@media only screen and (max-width: 580px) {
	.blogroll.layout-grid-2 section {
		margin-right:0;
	}
	
	.blogroll.layout-grid-2 .blogroll-item {
		width:auto;
		margin-right:0;
		float:none;
	}
}

@media only screen and (max-width: 400px) {
	.blogroll.layout-grid-3 section {
		margin-right:0;
	}
	
	.blogroll.layout-grid-3 .blogroll-item {
		width:auto;
		margin-right:0;
		float:none;
	}
}

@media only screen and (max-width: 380px) {
	
	.gallery-sliced .img-box.img-1,
	.gallery-sliced .img-box.img-2,
	.gallery-sliced .img-box.img-3,
	.gallery-sliced .img-box.img-4,
	.gallery-sliced .img-box.img-5 {
		float:none;
		width:auto;
		margin-right:0;
		height:auto !important;
		margin-bottom:0.5em;
	}
	
	.gallery-masonry .items,
	.gallery-grid .items {
		margin:0;
	}
	
	.gallery-masonry .item,
	.gallery-grid .item {
		float:none;
		width:auto !important;
		margin-bottom:0.5em;
	}
	
	.gallery-masonry .item img,
	.gallery-grid .item img {
		margin: 0 auto;
	}
	
	/**
	 * Standard Gallery
	 */
	
	.gallery {
		margin:1em 0;
	}
	
	.gallery .gallery-item {
		float:none;
		width:auto !important;
		margin:1em 0;
		text-align:center;
	}
	
	.gallery .gallery-item img {
		width:auto;
	}
	
	blockquote, .blockquote {
		font-size:100%;
	}
}